[packages]
scrapy        = "*"
flask         = "*"
requests      = "*"
geopy         = "*"
feedgenerator = "*"
peewee        = "*"
mypy = "*"
waitress = "*"

[dev-packages]
pylint = "*"
types-requests = "*"
types-waitress = "*"
pytest = "*"
