[packages]
scrapy              = "*"
flask               = "*"
requests            = "*"
geopy               = "*"
feedgenerator       = "*"
peewee              = "*"
waitress            = "*"
sendgrid            = "*"
pyyaml              = "*"
flask_expects_json  = "*"

[dev-packages]
pylint          = "*"
types-requests  = "*"
types-waitress  = "*"
pytest          = "*"
mypy            = "*"
